<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserPlusMapper">
    <resultMap id="BaseResultMap" type="com.example.model.UserPlus">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="del" jdbcType="VARCHAR" property="delStatus" />
    </resultMap>
    <sql id="Base_Column_List">
        id, `name`, age, email, del
    </sql>

    <select id="selectUsers" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from userEntity
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from userEntity
        where id = #{id,jdbcType=BIGINT}
    </select>
</mapper>
