<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="formtarget/base::header('错误页面')"></head>
<body>
<h1 class="alert alert-success">exception.toString()</h1>
<div th:text="${exception}" class="alert alert-warning"></div>

<h1 class="alert alert-success">exception.message</h1>
<div th:text="${exception.message}" class="alert alert-danger"></div>

<h1 class="alert alert-success">url</h1>
<div th:text="${url}" class="alert alert-info"></div>
</body>
<footer th:replace="formtarget/base::fooder"></footer>
</html>