<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon"  th:href="@{/resource/favicon.ico}"/>
    <meta charset="UTF-8">
    <title>[[#{cache.htitle}]]</title>
</head>
<body>
<div>
    hello 中国
</div>
<div th:text="#{common.menu.title}">
</div>

<div th:text="${message}">

</div>

<div th:if="${userInfos}">
    <div th:each="item:${userInfos}">
        [[${item.id}]],[[${item.deviceId}]],[[${#temporals.format(item.createTime, 'yyyy-MM-dd HH:mm:ss')}]]
    </div>

</div>

</body>
</html>
