<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.one.AddressMapper">

    <resultMap id="BaseResultMap" type="com.example.model.one.Address">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="userid" column="userId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,province,city,
        userId
    </sql>
</mapper>
