<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="formtarget/base::header(#{artical.list.title})"></head>
<style>
    .odd{
        background-color: aliceblue;
    }
    .even{
        background-color: antiquewhite;
    }
</style>
<body>
<div class="container">
    <table class="table">
        <tr class="even">
            <th>索引</th>
            <th>序号</th>
            <th>标题</th>
            <th>作者</th>
            <th>页数</th>
            <th>出版日期</th>
        </tr>
        <tbody>
        <tr th:each="item,stat:${articals}" th:class="${stat.even}?'even':'odd'">
            <td th:text="${stat.index}"></td>
            <td th:text="${stat.count}"></td>
            <td th:text="${item.title}"></td>
            <td th:text="${item.author}"></td>
            <td th:text="${item.pageNum}"></td>
<!--            <td th:text="${item.publishDate}"></td>-->
            <td th:text="${#temporals.format(item.publishDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
<footer th:replace="formtarget/base::fooder"></footer>

<script type="text/javascript">
    $(function(){
        var message = '[[#{common.menu}]]'
        alert(message);
    });

</script>
</html>